@media (min-width: 1025px) {


.headerbox{
  width:100%;
  height:300px;
  max-width:2000px;
  background-image: url("/images/header.jpg");
  background-size:cover;
  padding-top:20px;
  text-align:center;
}

.headertext{
  width:500px;
  margin:auto;
  color:white;

}

h3{
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
}

.mainbody{
  width:100%;
  background-color:#eeeeee;
  padding-bottom:50px;
  min-height:1000px;
}

.grid{
  width: 1200px;
  margin: auto;
}

.sitebox{
  width:350px;
  border-radius:2%;
  background-color:white;
  display:inline-block;
  float:left;
  margin-top:30px;
}

.sitebox:nth-child(3n+2){
  margin-left:75px;
  margin-right:75px;
}

.imagebox{
  width:350px;
  height:350px;
}

.subtext{
  padding:10px;
  text-align:center;
  font-size:1em;
}

.embedgrid{
  -moz-column-count: 3;
  -moz-column-gap: 40px;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  column-count: 3;
  column-gap: 40px;
  width: 1200px;
  margin: auto;
  margin-top: 30px;
  clear: both;
}

.embedbox{
  width:350px;
}

}
