@media (min-width: 1025px) {


.headerbox{
  width:100%;
  height:300px;
  max-width:2000px;
  background-image: url("/images/header.jpg");
  background-size:cover;
  padding-top:20px;
  text-align:center;
}

.headertext{
  width:500px;
  margin:auto;
  
}


.mainbody{
  width:100%;
  background-color:#eeeeee;
  padding-bottom:50px;
}

.sitebox{
  width:200px;

}



}
