---
layout: default
sites:
	- http://www.fiercelymade.com
	- http://www.coilanddrift.com/
---

{% for item in page.sites %}
{{item}}
{% endfor %}

<div class="headerbox">
	<div class="headertext">
		<h1>Brooklyn Made Holiday Gift Ideas</h1>
		<h2>Support your local maker - a selection of products and startups made in Brooklyn. Perfect for the holidays.</h2>
		<span>Made by @tomcritchlow / open source on Github</span>
	</div>

</div>


<div class="mainbody">

	<div class="grid">

	{% for link in site.brooklyn %}


		<div class="sitebox">


			<div class="imagebox">
			<a href="{{link.siteurl}}">
			<img src="{{link.image}}" />
			</a>
			</div>

			<div class="textbox">
			<a href="{{link.siteurl}}">
			<h3>{{link.title}}</h3>
			</a>
			<a href="{{link.siteurl}}">
				<div class="subtext">{{link.description}}</div>
			</a>

			</div>
		</div>





	{% endfor %}
		</div>
	</div>

<div class="embedgrid">

	{% for link in site.brooklyn %}
	<div class="embedbox">
	<a class="embedly-card" href="{{link.siteurl}}"></a>
	</div>

	{% endfor %}
</div>
	<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
